.SearchInput input.query,
.SearchInput button.submit{
    font-size: 16px;
    padding:  8px 10px;
    border: 2px solid #333;
    border-radius: 3px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.SearchInput .searchBtn{
    margin-bottom:10px ;
}
.SearchInput .notesSearched{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:30px;
    margin-top: 20px;
    /*Tout se met en ligne et quand on arrive à fin du nav passe à la ligne*/
}