
.App h1 {
  margin-bottom: 24px;
  text-align: center;
}


.App .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.App .isLoading {
  display: flex;
  flex-direction: column;
  width: 350px;
  height:400px;
  background-color: #DDD;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


